<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Example Wallet</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/connections">Connections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/credentials">Credentials</a>
    </li>
  </ul>
</nav>