<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Connections</h1>
        <a href="/list-connections" class="btn btn-info" role="button">List Connections</a>
        <a href="/input-invitation" class="btn btn-info" role="button">Input Invitation</a>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>